/* START CODE */
/* Start Varibles */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
/* End Varibles */
/* Start Golbal Rules */
* {
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
/* meduim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Golbal Rules */
/* Start Header */
header {
  box-shadow: 0 0 10px black;
  background: white;
}
header > .container {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  header > .container {
    justify-content: center;
  }
}
header .container .logo {
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
  color: var(--main-color);
}
@media (max-width: 767px) {
  header .container .logo {
    height: 45px;
    flex-basis: 100%;
  }
}
header .container nav .link {
  display: flex;
}
header .container nav .link > li > a {
  position: relative;
  height: 73px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  overflow: hidden;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  color: black;
}
@media (max-width: 767px) {
  header .container nav .link > li > a {
    height: 45px;
  }
}
header .container nav .link > li > a::before {
  content: "";
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header .container nav .link > li:hover > a {
  background-color: #fafafa;
  color: var(--main-color);
}
header .container nav .link > li:last-child:hover .mega-menu {
  top: calc(100% + 2px);
  opacity: 1;
  visibility: visible;
}
header .container nav .link > li > a:hover::before {
  left: 0;
}
header .container .mega-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  border-bottom: 5px solid var(--main-color);
  background: white;
  width: 100%;
  z-index: 55;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  transition: var(--main-transition);
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  header .container .mega-menu {
    display: block;
  }
}
header .container .mega-menu img {
  max-width: 100%;
}
header .container .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
@media (max-width: 991px) {
  header .container .mega-menu .image {
    display: none;
  }
}
header .container .mega-menu .links li {
  position: relative;
  overflow: hidden;
}
header .container .mega-menu .links li::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #dddddd42;
  z-index: -999;
  left: -100%;
  transition: var(--main-transition);
}
header .container .mega-menu .links li:hover::before {
  left: 0;
}
header .container .mega-menu .links li a {
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  display: block;
}
header .container .mega-menu .links li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
@media (max-width: 767px) {
  header .container .mega-menu .links:first-of-type li a {
    border-bottom: 1px solid #ddd;
  }
}
header .container .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  background-color: #ddd;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  transform: skewy(-5deg);
  -webkit-transform: skewy(-5deg);
  -moz-transform: skewy(-5deg);
  transform-origin: top left;
}
.landing .container {
  position: relative;
  min-height: calc(100vh - 73px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .container .info {
  max-width: 600px;
  flex: 1;
}
@media (max-width: 991px) {
  .landing .container .info {
    text-align: center;
    margin: auto;
  }
}
.landing .container .info h1 {
  font-size: 40px;
  margin: 0;
}
.landing .container .info p {
  font-size: 20px;
  line-height: 2;
  color: #666;
}
.landing .image img {
  animation-name: image;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.landing img {
  width: 600px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .landing img {
    display: none;
  }
}
.landing i {
  font-size: 25px;
  position: absolute;
  margin-bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  color: var(--main-color);
  animation: arrow 1.5s infinite linear;
}
.landing i:hover {
  color: var(--main-color-alt);
}
/* End Landing */
/* Start Articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles .articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .articles-grid .article {
  box-shadow: 0px 0 10px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  transition: var(--main-transition);
}
.articles .articles-grid .article:hover {
  transform: translateY(-10px);
}
.articles .articles-grid .article .image img {
  max-width: 100%;
  border-radius: 5px;
}
.articles .articles-grid .article .text {
  padding: 20px;
  border-bottom: solid 1px #ddd;
}
.articles .articles-grid .article .text h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 15px;
}
.articles .articles-grid .article .text P {
  font-size: 15px;
  color: #777;
  line-height: 1.5;
}
.articles .articles-grid .article .info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .articles-grid .article .info a {
  font-weight: bold;
  color: var(--main-color);
}
.articles .articles-grid .article .info i {
  color: var(--main-color);
}
.articles .articles-grid .article:hover .info i {
  animation: moving .5s linear;
  animation-iteration-count: infinite;
}
/* End Articles */
/* Start Gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .container .image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 15px solid white;
  overflow: hidden;
}
.gallery .container .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 5;
  transition: var(--main-transition);
  opacity: 0;
}
.gallery .container .image:hover::before {
  animation: trnsparent .8s;
}
.gallery .container .image:hover img {
  transform: rotate(3deg) scale(1.06);
}
.gallery .container img {
  width: 100%;
  max-width: 100%;
  transition: .3s;
}
/* End Gallery */
/* Start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.features .container .feature {
  background-color: white;
  box-shadow: 0px 0 10px rgb(0, 0, 0, 0.2);
  overflow: hidden;
}
.features .container .feature .image {
  position: relative;
}
.features .container .feature .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .container .feature:nth-of-type(1) .image::before {
  background-color: rgba(233, 30, 98, 0.5);
}
.features .container .feature:nth-of-type(2) .image::before {
  background-color: rgba(0, 150, 135, 0.5);
}
.features .container .feature:nth-of-type(3) .image::before {
  background-color: rgba(3, 168, 244, 0.5);;
}

.features .container .feature img {
  width: 100%;
  max-width: 100%;
}
.features .container .feature .info {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 3;
}
.features .container .feature .info::before {
  content: "";
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  top: -60px;
  left: 0;
  transform: skewY(-13deg);
  z-index: -1;
}
.features .container .feature:hover .info::before {
  animation: repeat .5s forwards;
}
.features .container .feature h1 {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.features .container .feature h1::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 4px;
  z-index: 2;
}
.features .container .feature:nth-of-type(1) h1::before  {
  background-color: #e91e63;
}
.features .container .feature:nth-of-type(2) h1::before{
  background-color: #009688;
}
.features .container .feature:nth-of-type(3) h1::before  {
  background-color: #03A9F4;;
}
.features .container .feature p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  font-weight: bold;
  color: #777;
}
.features .container .feature a {
  display: block;
  margin: 0 auto 30px;
  border-radius: 6px;
  border: 3px solid;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  padding: 10px 20px;
}
.features .container .feature:nth-of-type(1) a {
  color: #e91e63;
}
.features .container .feature:nth-of-type(2) a {
  color: #009688;
}
.features .container .feature:nth-of-type(3) a {
  color: #03A9F4;;
}
/* End Features */
/* Start Animation */
@keyframes image {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes arrow {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    bottom: 0;
  }
  40%,
  60% {
    bottom: -15px;
  }
}
@keyframes moving {
  to {
    transform: translateX(10px);
  }
}
@keyframes trnsparent {
  0%,40% {
    opacity: 1;
    width: 0%;
    height: 0%;
  }
  50% {
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes repeat {
  to {
    transform: skewY(13deg) rotate(180deg)
  }
}
/* End Animation */
