/* START CODE */
/* Start Varibles */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
/* End Varibles */
/* Start Golbal Rules */
* {
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
/* meduim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Golbal Rules */
/* Start Header */
header {
  box-shadow: 0 0 10px black;
  background: white;
}
header > .container {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  header > .container {
    justify-content: center;
  }
}
header .container .logo {
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
  color: var(--main-color);
}
@media (max-width: 767px) {
  header .container .logo {
    height: 45px;
    flex-basis: 100%;
  }
}
header .container nav .link {
  display: flex;
}
header .container nav .link > li > a {
  position: relative;
  height: 73px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  overflow: hidden;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  color: black;
}
@media (max-width: 767px) {
  header .container nav .link > li > a {
    height: 45px;
  }
}
header .container nav .link > li > a::before {
  content: "";
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header .container nav .link > li:hover > a {
  background-color: #fafafa;
  color: var(--main-color);
}
header .container nav .link > li:last-child:hover .mega-menu {
  top: calc(100% + 2px);
  opacity: 1;
  visibility: visible;
}
header .container nav .link > li > a:hover::before {
  left: 0;
}
header .container .mega-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  border-bottom: 5px solid var(--main-color);
  background: white;
  width: 100%;
  z-index: 55;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  transition: var(--main-transition);
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  header .container .mega-menu {
    display: block;
  }
}
header .container .mega-menu img{
  max-width: 100%;
}
header .container .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
@media (max-width: 991px) {
  header .container .mega-menu .image {
    display: none;
  }
}
header .container .mega-menu .links li {
  position: relative;
  overflow: hidden;
}
header .container .mega-menu .links li::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #dddddd42;
  z-index: -999;
  left: -100%;
  transition: var(--main-transition);
}
header .container .mega-menu .links li:hover::before {
  left: 0;
}
header .container .mega-menu .links li a {
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  display: block;
  
}
header .container .mega-menu .links li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
@media (max-width: 767px) {
  header .container .mega-menu .links:first-of-type li a {
    border-bottom: 1px solid #ddd;
  }
}
header .container .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  background-color: #ddd;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  transform: skewy(-5deg);
  -webkit-transform: skewy(-5deg);
  -moz-transform: skewy(-5deg);
  transform-origin: top left;
}
.landing .container {
  position: relative;
  min-height: calc(100vh - 73px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .container .info {
  max-width: 600px;
  flex: 1;
}
@media (max-width: 991px) {
  .landing .container .info {
    text-align: center;
    margin: auto;
  }
}
.landing .container .info h1 {
  font-size: 40px;
  margin: 0;
}
.landing .container .info p {
  font-size: 20px;
  line-height: 2;
  color: #666;
}
.landing .image img {
  animation-name: image;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.landing img {
  width: 600px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .landing img {
  display: none;
  }
}
.landing i {
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  color: var(--main-color);
  animation: arrow 1.5s infinite linear ;
}
.landing i:hover {
  color: var(--main-color-alt);
}
/* End Landing */
/* Start Animation */
@keyframes image {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes arrow {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
    40%, 60% {
    transform: translateY(-15px);
    }
}
/* End Animation */