/* START CODE */
/* Start Varibles */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
/* End Varibles */
/* Start Golbal Rules */
* {
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
/* meduim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Golbal Rules */
/* Start Header */
header {
  box-shadow: 0 0 10px black;
  background: white;
}
header > .container {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  header > .container {
    justify-content: center;
  }
}
header .container .logo {
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
  color: var(--main-color);
}
@media (max-width: 767px) {
  header .container .logo {
    height: 45px;
    flex-basis: 100%;
  }
}
header .container nav .link {
  display: flex;
}
header .container nav .link > li > a {
  position: relative;
  height: 73px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  overflow: hidden;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  color: black;
}
@media (max-width: 767px) {
  header .container nav .link > li > a {
    height: 45px;
  }
}
header .container nav .link > li > a::before {
  content: "";
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header .container nav .link > li:hover > a {
  background-color: #fafafa;
  color: var(--main-color);
}
header .container nav .link > li:last-child:hover .mega-menu {
  top: calc(100% + 2px);
  opacity: 1;
  visibility: visible;
}
header .container nav .link > li > a:hover::before {
  left: 0;
}
header .container .mega-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  border-bottom: 5px solid var(--main-color);
  background: white;
  width: 100%;
  z-index: 55;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  transition: var(--main-transition);
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  header .container .mega-menu {
    display: block;
  }
}
header .container .mega-menu img {
  max-width: 100%;
}
header .container .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
@media (max-width: 991px) {
  header .container .mega-menu .image {
    display: none;
  }
}
header .container .mega-menu .links li {
  position: relative;
  overflow: hidden;
}
header .container .mega-menu .links li::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #dddddd42;
  z-index: -999;
  left: -100%;
  transition: var(--main-transition);
}
header .container .mega-menu .links li:hover::before {
  left: 0;
}
header .container .mega-menu .links li a {
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  display: block;
}
header .container .mega-menu .links li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
@media (max-width: 767px) {
  header .container .mega-menu .links:first-of-type li a {
    border-bottom: 1px solid #ddd;
  }
}
header .container .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  background-color: #ddd;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  transform: skewy(-5deg);
  -webkit-transform: skewy(-5deg);
  -moz-transform: skewy(-5deg);
  transform-origin: top left;
}
.landing .container {
  position: relative;
  min-height: calc(100vh - 73px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .container .info {
  max-width: 600px;
  flex: 1;
}
@media (max-width: 991px) {
  .landing .container .info {
    text-align: center;
    margin: auto;
  }
}
.landing .container .info h1 {
  font-size: 40px;
  margin: 0;
}
.landing .container .info p {
  font-size: 20px;
  line-height: 2;
  color: #666;
}
.landing .image img {
  animation-name: image;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.landing img {
  width: 600px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .landing img {
    display: none;
  }
}
.landing i {
  font-size: 25px;
  position: absolute;
  margin-bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  color: var(--main-color);
  animation: arrow 1.5s infinite linear;
}
.landing i:hover {
  color: var(--main-color-alt);
}
/* End Landing */
/* Start Articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles .articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .articles-grid .article {
  box-shadow: 0px 0 10px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  transition: var(--main-transition);
}
.articles .articles-grid .article:hover {
  transform: translateY(-10px);
}
.articles .articles-grid .article .image img {
  max-width: 100%;
  border-radius: 5px;
}
.articles .articles-grid .article .text {
  padding: 20px;
  border-bottom: solid 1px #ddd;
}
.articles .articles-grid .article .text h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 15px;
}
.articles .articles-grid .article .text P {
  font-size: 15px;
  color: #777;
  line-height: 1.5;
}
.articles .articles-grid .article .info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .articles-grid .article .info a {
  font-weight: bold;
  color: var(--main-color);
}
.articles .articles-grid .article .info i {
  color: var(--main-color);
}
.articles .articles-grid .article:hover .info i {
  animation: moving .5s linear;
  animation-iteration-count: infinite;
}
/* End Articles */
/* Start Gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .container .image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 15px solid white;
  overflow: hidden;
}
.gallery .container .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 5;
  transition: var(--main-transition);
  opacity: 0;
}
.gallery .container .image:hover::before {
  animation: trnsparent .8s;
}
.gallery .container .image:hover img {
  transform: rotate(3deg) scale(1.06);
}
.gallery .container img {
  width: 100%;
  max-width: 100%;
  transition: .3s;
}
/* End Gallery */
/* Start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.features .container .feature {
  background-color: white;
  box-shadow: 0px 0 10px rgb(0, 0, 0, 0.2);
  overflow: hidden;
}
.features .container .feature .image {
  position: relative;
}
.features .container .feature .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .container .feature:nth-of-type(1) .image::before {
  background-color: rgba(233, 30, 98, 0.5);
}
.features .container .feature:nth-of-type(2) .image::before {
  background-color: rgba(0, 150, 135, 0.5);
}
.features .container .feature:nth-of-type(3) .image::before {
  background-color: rgba(3, 168, 244, 0.5);;
}

.features .container .feature img {
  width: 100%;
  max-width: 100%;
}
.features .container .feature .info {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 3;
}
.features .container .feature .info::before {
  content: "";
  position: absolute;
  border-width: 0px 0px 125px 500px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  top: -125px;
  right: 0;
  transition: var(--main-transition);
}
.features .container .feature:hover .info::before {
  border-width: 0px 404px 125px 500px;
}
.features .container .feature h1 {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.features .container .feature h1::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 4px;
  z-index: 2;
}
.features .container .feature:nth-of-type(1) h1::before  {
  background-color: #e91e63;
}
.features .container .feature:nth-of-type(2) h1::before{
  background-color: #009688;
}
.features .container .feature:nth-of-type(3) h1::before  {
  background-color: #03A9F4;;
}
.features .container .feature p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  font-weight: bold;
  color: #777;
}
.features .container .feature a {
  display: block;
  margin: 0 auto 30px;
  border-radius: 6px;
  border: 3px solid;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  padding: 10px 20px;
  transition: var(--main-transition);
}
.features .container .feature:nth-of-type(1) a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .feature:nth-of-type(2) a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .feature:nth-of-type(3) a {
  color: #03A9F4;
  border-color: #03A9F4;
  background: linear-gradient(to right, #03A9F4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .feature:hover a {
  background-position: left bottom;
  color: white;
}
/* End Features */
/* Start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  position: relative;
  display: flex;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0 10px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}
.testimonials .container .box img {
  position: absolute;
  top: -45px;
  right: -5px;
  width: 100px;
  border-radius: 50%;
  border: #ececec solid 10px;
}
.testimonials .container .box h2 {
  font-size: 18px;
}
.testimonials .container .box p {
  color: #777;
}
.testimonials .container .box p:first-of-type {
  font-size: 15px;
  margin: 8px 0;
}
.testimonials .container .box .star .filled {
  color: #ffc107;
}
.testimonials .container .box .star .border {
  -webkit-text-stroke: 1.5px black;
  color: transparent;
}
.testimonials .container .box p:last-of-type {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
}
/* End Testimonials */
/* Start Team-members */
.team-members {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team-members .container .box {
  position: relative;
}
.team-members .container .box::before,
.team-members .container .box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ececec;
  width: calc(100% - 60px);
  height: 100%;
  border-radius: 6px;
  z-index: -2;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .team-members .container .box::before {
    width: 100%;
  }
}
.team-members .container .box::after {
  width: 0;
  background-color: #d5d5d5;
  z-index: -1;
}
.team-members .container .box:hover::after {
  width: calc(100% - 60px);
}
@media (max-width: 767px) {
  .team-members .container .box:hover::after {
    width: 100%;
  }
}
.team-members .container .box .float {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .team-members .container .box .float  {
    flex-direction: column;
  }
}
.team-members .container .box .float img {
  margin-top: 60px;
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .team-members .container .box .float img {
    margin-bottom: 20px;
    width: 100%;
  }
}
.team-members .container .box:hover .float img {
  filter: grayscale(100%);
}
.team-members .container .box .float .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #777;
  gap: 20px;
  flex-grow: 1;
}
@media (max-width: 767px) {
  .team-members .container .box .float .social {
    flex-direction: row;
    grid-column: 20px;
  }
}
.team-members .container .box .float .social i {
  cursor: pointer;
  transition: var(--main-transition);
}
.team-members .container .box .float .social i:hover {
  color: var(--main-color);
}
.team-members .container .box .text {
  margin-left: 60px;
  padding: 20px;
}
@media (max-width: 767px) {
  .team-members .container .box .text {
    margin-left: 0;
    padding: 10px;
    text-align: center;
  }
}
.team-members .container .box .text h3 {
  font-size: 22px;
  color: var(--main-color);
  transition: var(--main-transition);
}
.team-members .container .box .text h3 {
  color: var(--main-color);
}
.team-members .container .box:hover .text h3 {
  color: #777;
}
.team-members .container .box .text p {
  font-size: 15px;
  margin-top: 10px;
}
/* End Team-members */
/* Start Services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.services .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  box-shadow: 0px 2px 7px rgb(0 0 0 / 50%);
  position: relative;
  transition: var(--main-transition);
  background-color: white;
}
.services .container .box:hover {
  transform: translateY(-10px);
}
.services .container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background: var(--main-color);
  transition: var(--main-transition);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box .icon {
  padding: 40px;
  text-align: center;
  line-height: 2.2;
}
.services .container .box .icon i {
  color: #9b9b9b;
}
.services .container .box h3 {
  font-size: 27px;
  color: var(--main-color);
}
.services .container .box .text {
  overflow: hidden;
  display: flex;
  align-self: center;
  justify-content: space-between;
  background-color: #f0eded;
}
.services .container .box .text .skew {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 51px;
  top: 1%;
  left: -19px;
  transform: skewx(-37deg);
  background-color: #03A9F4;
  color: white;
}
.services .container .box .text P:last-child {
  padding: 0 31px 0px 0;
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-size: 17px;
}
.services .container .box .text .skew::after {
  content: attr(data-text);
  position: absolute;
  left: 40px;
  transform: skew(37deg, 0deg);
  font-size: 34px;
  font-weight: bold;
}
.services .container .box .text .skew::before {
  content: "";
  position: absolute;
  right: -50px;
  width: 50px;
  height: 51px;
  background-color: #d5d5d5;
}
/* End Services */
/* Start Our-Skill */
.skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.skills .container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.skills .container img {
  max-width: 400px;
}
@media (max-width: 991px) {
  .skills .container img {
    display: none;
  }
}
.skills .container .skill {
  flex: 1;
}
.skills .container .skill .box {
  margin-bottom: 30px;
}
.skills .container .skill .box h3 {
  margin-bottom: 10px;
}
.skills .container .skill .box .progress {
  height: 30px;
  width: 100%;
  background-color: #e7e7e7;
  position: relative;
}
.skills .container .skill .box .progress::before {
  content: attr(data-text);
  position: absolute;
  right: 0;
  top: -40px;
  color: var(--main-color);
  border: #cccccc solid 1px;
  padding: 3px;
  font-size: 15px;
  border-radius: 5px;
}
.skills .container .skill .box .porger {
  background-color: var(--main-color);
  transition: var(--main-transition) linear;
}
/* End Our-Skill */
/* Start How it work */
.work-steps {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.work-steps .container {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}
.work-steps .container img {
  max-width: 100%;
}
.work-steps .container .box {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
  padding: 30px 20px;
  background-color: #f7f6f5;
  border-radius: 10px;
  border: solid white 3px;
  position: relative;
  z-index: 1;
}
@media (max-width: 991px) {
  .work-steps .container .box {
    flex-direction: column;
    text-align: center;
  }
}
.work-steps .container .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 10px;
  background-color: #7777771a;
  transition: calc(var(--main-transition) + .2s);
  z-index: -1;
}
.work-steps .container .box:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .container .box img {
  max-width: 70px;
}
.work-steps .container .box h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--main-color);
}
.work-steps .container .box p {
  font-size: 17px;
  line-height: 1.8;
  color: #777;
}
/* End How it work */
/* Start latest events */
.events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.events > div.top,
.events > div.bottom {
  position: absolute;
  background-image: url(../image/dots.png);
  background-repeat: no-repeat;
  top: 30%;
  right: 0px;
  width: 204px;
  height: 186px;
  z-index: -25;
}
.events > div.bottom {
  top: 70%;
  left: 0px;
}
.events .container .event {
  display: flex;
  align-items: center;
  gap: 40px;
}
.events .container .event img {
  max-width: 50%;
}
@media (max-width: 991px) {
  .events .container .event img {
    display: none;
  }
}
.events .container .event .box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .events .container .event .box {
    gap: 10px;
  }
}
.events .container .event .box .text {
  border: solid 1px #CCC;
  width: 20%;
  border-radius: 5px;
}
.events .container .event .box h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  color: var(--main-color);
  font-size: 32px;
  font-weight: normal;
}
.events .container .event .box p {
  border-top: #ccc solid 1px;
  text-align: center;
  padding: 5px 0;
}
.events .container .event .info > .text {
  text-align: center;
}
.events .container .event .info > .text h3{
  font-size: 32px;
}
.events .container .event .info > .text p{
  color: #333;
  font-size: 17px;
  margin-top: 13px;
  line-height: 1.7;
}
.events .container .form {
  width: 600px;
  margin: 40px auto 0;
  padding: 15px 35px;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 50px
}
@media (max-width: 991px) {
  .events .container .form {
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}
.events .container .form input[type="email"] {
  width: calc(100% - 140px);
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 50px;
}
@media (max-width: 991px) {
  .events .container .form input[type="email"] {
    border-radius: 10px;
    width: 100%;
  }
}
.events .container .form input[type="email"]::placeholder {
  color: #999;
  transition: var(--main-transition);
}
.events .container .form input[type="email"]:focus::placeholder {
  color: #33333300;
}
.events .container .form input[type="submit"] {
  width: 120px;
  border: none;
  background: var(--main-color);
  color: white;
  border-radius: 50px;
}
@media (max-width: 991px) {
  .events .container .form input[type="submit"] {
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px;
  }
}
/* End latest events */
/* Start Animation */
@keyframes image {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes arrow {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    bottom: 0;
  }
  40%,
  60% {
    bottom: -15px;
  }
}
@keyframes moving {
  to {
    transform: translateX(10px);
  }
}
@keyframes trnsparent {
  0%,40% {
    opacity: 1;
    width: 0%;
    height: 0%;
  }
  50% {
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Animation */
